@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>

<p><strong>NOTE:</strong>You must select a stylist to add a new client!</p>
<p>To hire a stylist please click @Html.ActionLink("here", "Create", "Stylists")</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Add new client" />

}